<table>
<% var i; for (i=0; i < quizes.length; i++) { %>
   <tr><td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td></tr>
<% } %>
</table>
<form method="GET" action="/quizes">
  Busque preguntas que contengan<p>
  <input type="text" name="search" placeholder="cadena a buscar" required/>
  <input type="submit" value="Enviar">
</form>
